<%- include('./partials/header.ejs')%>
    <link rel="stylesheet" href="/stylesheets/createtournament.css">
    <div class="container-fluid" style="background-color: aqua;">
        <div class="row">
            <h1>Create Tournament</h1>
            <p>Create a custom tournament.
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="card">
                            Step 1: Add Teams
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            Step 2: Add Players
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            Step 3: Add Matches
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <form action="/createtournament/<%= tourid %>/addteam" method='post'>
                    <label for="addteam">Team Name</label>
                    <input type="text" id="addteam" placeholder="Enter team name" name="addteam">
                    <button type="submit">Add Team</button>
                </form>
            </div>
        </div>
        <div id="appendhere" class="row">


        </div>
    </div>
    <script src="/scripts/addteams.js"></script>