<%- include('./partials/header.ejs')%>
    <link rel="stylesheet" href="/stylesheets/createtournament.css">
    <div class="container-fluid" style="background-color: aqua;">
        <div class="row">
            <h1>Create Tournament</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam temporibus, recusandae quae, quibusdam
                rerum soluta saepe possimus at cumque quo, dolor unde pariatur deserunt laboriosam? Assumenda
                necessitatibus veritatis pariatur debitis?
                Quia impedit itaque nobis, voluptates cupiditate illum. Ipsa fugit error numquam nisi qui! Ipsum animi,
                quaerat corporis dolore nihil nulla commodi doloremque minus repellendus distinctio quisquam officiis
                temporibus aliquam porro!
                Quam qui dicta voluptas eos adipisci quibusdam doloremque neque? Quaerat nihil ut beatae necessitatibus
                facere! Accusamus, neque amet perspiciatis culpa aperiam quia temporibus recusandae error, incidunt
                quasi ipsam sed eius.
                Repellat rerum incidunt nulla sint? Commodi exercitationem accusantium impedit libero nihil iste.
                Veritatis molestiae qui, ducimus quisquam nulla, numquam unde quas asperiores nesciunt adipisci porro
                explicabo cumque in fugiat quod!
                Aliquid aperiam nemo eligendi cum, placeat eaque consequuntur animi voluptatibus? Voluptatum autem
                aliquam ipsa officia voluptatem temporibus blanditiis dolores consequuntur, atque maiores fuga, labore
                beatae eveniet, odio sequi quo quis.</p>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <input type="text" id="addteam" placeholder="Enter team name" name="addteam">
                <button type="button" id="addbutton">Add Team</button>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, corporis! Aliquid cumque totam
                    nam, rerum, ab impedit dolorum ex quidem sequi placeat expedita harum velit itaque quasi aspernatur
                    nemo consectetur.</span>
            </div>
        </div>
        <div id="appendhere" class="row">

        </div>
    </div>
    <script src="/scripts/createtourney.js"></script>