<%- include('./partials/header')%>

    <body
        style="background-image: url('images/lords.jpg'); background-size:cover; background-position:inherit; background-repeat: no-repeat;">
        <div class="container-fluid">
            <div class="row justify-content-evenly">
                <div class="col-6 text-center">
                    <a class="nav-link" href="/login" style="color: black; font-weight: 900;">Login</a>
                </div>
                <div class="col-6 text-center">
                    <a class="nav-link" href="/signup" style="color: black; font-weight: 900;">Signup</a>
                </div>
            </div>
        </div>
    </body>