<%- include('./partials/header')%>

    <a href="/login">Login Page</a>
    <a href="/signup">Signup Page</a>
    <a href="/createtournament">Create Tournament</a>
    <a href="/viewtournament">View Tournament</a>