<%- include('./partials/header.ejs')%>
    <link rel="stylesheet" href="/stylesheets/createtournament.css">
    <script>
        let match = "<%= matchinfo %>";
        let tour_id = "<%= tourid %>";
    </script>
    <!-- <script>
        let tourneys =;
    </script> -->
    <div class="container-fluid">

        <div class="row">
            <h1>View Matches</h1>
        </div>
        <hr>
        <div id="appendhere" class="row">
            <% for(let i=0;i<tourinfo.length;i++){ %>
                <div class="card col-lg-4" onclick="showmatch(i)" href=>
                    <h3 class="card-title text-center">
                        <%= matchinfo[i].name %>
                    </h3>
                    <div class="card-body">

                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <script src="/scripts/viewmatches.js"></script>