<%- include('./partials/header.ejs')%>
    <link rel="stylesheet" href="/stylesheets/createtournament.css">
    <!-- <script>
        let tour = "<= tourinfo %>";
    </script> -->
    <div class="container-fluid">

        <div class="row">
            <h1>
                <%= tourinfo[0].name %>
            </h1>
        </div>
        <hr>
        <div id="appendhere" class="row">
            <% for(let i=0;i < tourinfo.length; i++){ %>
                <div class="card col-lg-4" onclick="showtour(i)">
                    <div class="card-title">
                        <%= tourinfo[i].name %>
                    </div>
                    <div class="card-body">
                        <a class="card-link" href="/viewtournament/<%=tourinfo[i].id%>">
                            View matches
                        </a>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <script src="/scripts/viewtourney.js"></script>